.home-container {
  margin-top: 2%;
  text-align: center;
}

.description-container {
  padding: 1%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1%;
  border-width: 5%;
}

.FAQ-container {
  padding-top: 4%;
}

.bodyTextEditable {
  white-space: pre-line;
  text-align: center;
  font-size: xx-large;
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
}

.bodyTextEdit {
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  display: block;
}

.FAQ-redirect:hover {
  color: blue;
  background-color: white;
}
